name: Deploy to Azure

on:
  push:
    tags:
      - 'v*'

env:
  AZURE_REGION: East US
  ACR_NAME: quivrcontainer
  IMAGE_NAME: backend:${{ github.sha }}

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Login to ACR
      run: |
        az acr login --name ${{ env.ACR_NAME }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.MY_PAT }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Create Docker Cache Storage Backend
      run: |
        docker buildx create --use --driver=docker-container

    - name: Build, tag, and push image to ACR and GitHub Container Registry
      uses: docker/build-push-action@v4
      with:
        context: ./backend/
        push: true
        tags: ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }}, ghcr.io/aaditya25052002/quivr:${{ github.ref_name }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

  deploy:
    needs: build_and_push
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Deploy to ACI:
    - name: Deploy to ACI
      run: |
       az container create --name quivr-container-instance --resource-group quivr --image ${{ env.ACR_NAME }}.azurecr.io/${{ env.IMAGE_NAME }} --cpu 1 --memory 1.5 --ip_address public --ports 80 --registry-username quivrcontainer --registry-password ${{ secrets.CONTAINER_PASSWORD}}

